@page
@model CLI.Pages_AllResults.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AllResults[0].ResultType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllResults[0].ResultId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AllResults) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResultType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
