@page
@model CLI.Pages_UserStatus.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserStatus[0].GenLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserStatus[0].LastGenTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserStatus[0].HasSub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserStatus[0].SubLeftTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserStatus[0].IsDesignAccess)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserStatus) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastGenTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasSub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubLeftTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDesignAccess)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
