@page
@model CLI.Pages_AllTasks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AllTasks[0].UserTasks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllTasks[0].UserStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllTasks[0].PrevLinkId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllTasks[0].TechTaskType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllTasks[0].AllResults)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AllTasks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserTasks.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserStatus.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrevLinkId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechTaskType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllResults.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
